.body {
    border: 4px dotted black;
    padding: 10px;
    margin-bottom: 100px;
}

.styled-text {
    color: var(--test-golden-color);
    font-size: var(--test-main-font-size);
    font-family: var(-test-main-font-family);
    margin-bottom: var(--test-default-margin);
}