@import "src/variables-import.scss"; // plik z któego importujemy style

.body {
    border: 3px dashed grey;
    padding: 10px;
}

.styled-text {
    color: $test-magenta-color;
    font-size: $test-secondary-font-size;
    font-family: $test-secondary-font-family;
}