.body {
    border: 3px dashed grey;
    padding: 10px;
}

.styled-text {
    color: var(--test-magenta-color);
    font-size: var(--test-secondary-font-size);
    font-family: var(--test-secondary-font-family);
}